--extra-index-url https://download.pytorch.org/whl/cu130
aiohappyeyeballs==2.7.1
aiohttp==3.14.3
aiosignal==1.4.0
annotated-types==0.8.0
attrs==26.1.0
cuda-bindings==13.3.1
cuda-pathfinder==1.6.0
cuda-toolkit==13.0.2
deepspeed==0.19.6
einops==0.8.2
filelock==3.32.3
frozenlist==1.8.0
fsspec==2026.7.0
hjson==3.1.0
idna==3.19
jinja2==3.1.6
lightning-utilities==0.15.3
markupsafe==3.0.3
mpmath==1.3.0
msgpack==1.2.2
multidict==6.7.1
networkx==3.6.1
ninja==1.13.2
numpy==2.4.6
nvidia-cublas==13.1.0.3
nvidia-cuda-cupti==13.0.85
nvidia-cuda-nvrtc==13.0.88
nvidia-cuda-runtime==13.0.96
nvidia-cudnn-cu13==9.19.0.56
nvidia-cufft==12.0.0.61
nvidia-cufile==1.15.1.6
nvidia-curand==10.4.0.35
nvidia-cusolver==12.0.4.66
nvidia-cusparse==12.6.3.3
nvidia-cusparselt-cu13==0.8.0
nvidia-nccl-cu13==2.28.9
nvidia-nvjitlink==13.0.88
nvidia-nvshmem-cu13==3.4.5
nvidia-nvtx==13.0.85
packaging==26.3
propcache==0.5.2
psutil==7.2.2
py-cpuinfo==9.0.0
pydantic==2.13.5
pydantic-core==2.46.5
pytorch-lightning==1.9.5
pyyaml==6.0.3
setuptools==78.1.0
sympy==1.14.0
torch==2.11.0+cu130
torchmetrics==1.9.0
tqdm==4.70.0
triton==3.6.0
typing-extensions==4.16.0
typing-inspection==0.4.4
yarl==1.24.5
